.containerWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh !important;
}
.containerBox {
  width: 96vw;
}
.cmxLogo {
  font-size: 35px;
  margin-top: 20px;
}

.application {
  background: #F6F6F6;
  padding-top: 60px;
  padding-bottom: 60px;
  border-radius: 10px;
  position: relative;
  margin-top: 25px;
  margin-bottom: 25px;
}
.wrapApp {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
}
.appTop {
  display: flex;
}
.home {
  height: 40px;
  width: 40px;
}
.icons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-left: 20px;
  padding-right: 20px;

}
.iconApp {
  height: 50px;
  width: 50px;
  margin-bottom: 15px;
}

.underLetter {
  font-size: 15px;
  font-weight: 400;
}
.link {
  height: 152px;
  width: 170px;
  margin: 15px 20px 15px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #fff;
  color: #7E7885;
  border: 1px solid #E4DFE9;
  border-radius: 10px;
  text-align: center;
}
.link:hover {
  border-color: #4DA0FD;
  transform: scale(1.05);
  box-shadow: 0 2px 25px rgb(0 0 0 / 5%);
}
.eachIcon {
  display: flex;
  align-items: center;
}


/*
@  Login Page Css 
@
*/
.loginTop {
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 20%), 0 2px 4px 0 rgb(0 0 0 / 19%);
  background: #003059;
  min-height: 45px;
  height: 118px;
  border-radius: 0;
  padding: 10px;
  display: flex;
  align-items: center;
}
.loginLogo {
  color: white;
  display: flex;
  position: absolute;
}

#cmx {
  font-size: 30px;
}
#description {
  font-size: 17px;
  font-weight: normal;
  display: flex;
  align-items: center;
  margin-left: 15px;
}
.loginTitle {
  font-size: xx-large;
  color: white;
  margin: auto;
  font-weight: 500;
}

.loginContent {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}
.loginInfoMessage {
  color: #478fca ;
  font-size: 19px;
  border-bottom: 1px solid #d5e3ef;
  margin-bottom: 20px;
  line-height: 54px;
}
.customize {
  right: 10px;
  top: 12px;
  color: #313131;
}
.loginButton {
  display: flex;
  justify-content: center;
  color: white;
}
.key {
    margin-left: 5px;
    width: 16px;
    height: 16px;
}
.secondaryButton {
  background-color: #003059 !important;
  width: 100%;
  border-radius: 4px !important;
  font-weight: 400 !important;
}

@media only screen and (max-width: 768px) {
#titleTop {
  font-size: 30px;
}
#titleWelcome {
  font-size: 22px;
  margin-top: 5px; 
}
.cmxLogo {
  font-size: 17px;
  margin-bottom: 5px;
}
}